<div id="about" class="about">
    <div class="container">
     
          <div class="about-box">
            <h3 class="cent">We're leaders in </h3>
            <h1 class="cent">Creative digital recruitment</h1>
            <hr>

            <p class="cent">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
           <li class="cent"><button class="btn cent1">Read More</button></li>
           </div> 
        </div>
      
      </div>
  
  
